@tailwind base;
@tailwind components;
@tailwind utilities;
.closeBtn {
  margin-left: 26.5px;
  margin-top: -6px;
}
.close{
    margin-right:1px;
}

/*home services page*/
.swiper-button-next,
.swiper-button-prev {
  color: black; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: black;
}
.swiper-pagination-bullet {
  background: black; 
}

.swiper-pagination-bullet-active {
  background: black; 
}