@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* montserrat*/
.montserrat700 {
  font-weight: 700;
}
.montserrat600 {
  font-weight: 600;
}

.montserrat500 {
  font-weight: 500;
}

.closeBtn {
  margin-left: 26.5px;
  margin-top: -6px;
}
.close {
  margin-right: 1px;
}
/* styling for contacthome */
.red-tint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0.5);
  pointer-events: none;
}

