@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* montserrat*/
.montserrat700 {
  font-weight: 700;
}
.montserrat600 {
  font-weight: 600;
}

.montserrat500 {
  font-weight: 500;
}

.closeBtn {
  margin-left: 26.5px;
  margin-top: -6px;
}
.close {
  margin-right: 1px;
}
/* styling for homeservices */


.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; 
  color: red; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color:white;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: pink; 
}
.swiper-pagination-bullet {
  background: red; /* Default color of the dots */
  opacity: 1; /* Make sure the dots are fully opaque */
  width: 12px; /* Size of the dots */
  height: 12px;
  border-radius: 50%; /* Circular shape */
  margin: 0 4px; /* Spacing between dots */
}

.swiper-pagination-bullet-active {
  background: red; /* Color of the active dot */
}

/* styling for contacthome */
.red-tint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0.575);
  pointer-events: none;
}
@media (max-width: 639px) {
  .maxHeight {
    max-height: 450px;
  }
}
@media (min-width: 377px) {
  .smClientDiv {
    @apply h-1/5;
  }
}
@media (min-width: 432px) {
  .baseTxt {
    @apply text-base;
  }
}
@media (min-width: 432px) {
  .iconSize {
    @apply text-4xl;
  }
}
